<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.users.mapper.UsersMapper">
    
    <resultMap type="Users" id="UsersResult">
        <result property="id"    column="id"    />
        <result property="phoneNumber"    column="phone_number"    />
        <result property="userName"    column="user_name"    />
        <result property="password"    column="password"    />
        <result property="isInvite"    column="is_invite"    />
        <result property="registerTime"    column="register_time"    />
        <result property="lastLoginTime"    column="last_login_time"    />
        <result property="vipTime"    column="vip_time"    />
        <result property="inviteCode"    column="invite_code"    />
        <result property="permissions"    column="permissions"    />
        <result property="moneys"    column="moneys"    />
    </resultMap>

    <sql id="selectUsersVo">
        select id, phone_number, user_name, password, is_invite, register_time, last_login_time, vip_time, invite_code, permissions, moneys from users
    </sql>

    <select id="selectUsersList" parameterType="Users" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        <where>  
            <if test="phoneNumber != null  and phoneNumber != ''"> and phone_number like concat('%', #{phoneNumber}, '%')</if>
            <if test="userName != null  and userName != ''"> and user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null  and password != ''"> and password = #{password}</if>
            <if test="isInvite != null "> and is_invite = #{isInvite}</if>
            <if test="params.beginRegisterTime != null and params.beginRegisterTime != '' and params.endRegisterTime != null and params.endRegisterTime != ''"> and register_time between #{params.beginRegisterTime} and #{params.endRegisterTime}</if>
            <if test="params.beginLastLoginTime != null and params.beginLastLoginTime != '' and params.endLastLoginTime != null and params.endLastLoginTime != ''"> and last_login_time between #{params.beginLastLoginTime} and #{params.endLastLoginTime}</if>
            <if test="params.beginVipTime != null and params.beginVipTime != '' and params.endVipTime != null and params.endVipTime != ''"> and vip_time between #{params.beginVipTime} and #{params.endVipTime}</if>
            <if test="inviteCode != null  and inviteCode != ''"> and invite_code = #{inviteCode}</if>
            <if test="permissions != null  and permissions != ''"> and permissions = #{permissions}</if>
            <if test="moneys != null  and moneys != ''"> and moneys = #{moneys}</if>
        </where>
    </select>
    
    <select id="selectUsersById" parameterType="Long" resultMap="UsersResult">
        <include refid="selectUsersVo"/>
        where id = #{id}
    </select>

    <insert id="insertUsers" parameterType="Users" useGeneratedKeys="true" keyProperty="id">
        insert into users
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="phoneNumber != null and phoneNumber != ''">phone_number,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="password != null and password != ''">password,</if>
            <if test="isInvite != null">is_invite,</if>
            <if test="registerTime != null">register_time,</if>
            <if test="lastLoginTime != null">last_login_time,</if>
            <if test="vipTime != null">vip_time,</if>
            <if test="inviteCode != null">invite_code,</if>
            <if test="permissions != null and permissions != ''">permissions,</if>
            <if test="moneys != null">moneys,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="phoneNumber != null and phoneNumber != ''">#{phoneNumber},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="password != null and password != ''">#{password},</if>
            <if test="isInvite != null">#{isInvite},</if>
            <if test="registerTime != null">#{registerTime},</if>
            <if test="lastLoginTime != null">#{lastLoginTime},</if>
            <if test="vipTime != null">#{vipTime},</if>
            <if test="inviteCode != null">#{inviteCode},</if>
            <if test="permissions != null and permissions != ''">#{permissions},</if>
            <if test="moneys != null">#{moneys},</if>
         </trim>
    </insert>

    <update id="updateUsers" parameterType="Users">
        update users
        <trim prefix="SET" suffixOverrides=",">
            <if test="phoneNumber != null and phoneNumber != ''">phone_number = #{phoneNumber},</if>
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null and password != ''">password = #{password},</if>
            <if test="isInvite != null">is_invite = #{isInvite},</if>
            <if test="registerTime != null">register_time = #{registerTime},</if>
            <if test="lastLoginTime != null">last_login_time = #{lastLoginTime},</if>
            <if test="vipTime != null">vip_time = #{vipTime},</if>
            <if test="inviteCode != null">invite_code = #{inviteCode},</if>
            <if test="permissions != null and permissions != ''">permissions = #{permissions},</if>
            <if test="moneys != null">moneys = #{moneys},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUsersById" parameterType="Long">
        delete from users where id = #{id}
    </delete>

    <delete id="deleteUsersByIds" parameterType="String">
        delete from users where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>